[submodule "RadioHead"]
	path = RadioHead
	url = https://github.com/walmis/RadioHead.git
[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/walmis/ardupilot.git
	branch = skyfalcon-stable

[submodule "SKYFalcon_FMU"]
	path = SKYFalcon_FMU
	url = https://github.com/walmis/SKYFalcon_FMU.git
	branch = skyfalcon-stable

[submodule "xpcc"]
	path = xpcc
	url = https://github.com/walmis/xpcc.git
