[submodule "RadioHead"]
	path = RadioHead
	url = https://github.com/walmis/RadioHead.git
[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/walmis/ardupilot.git
	branch = skyfalcon-stable
